@font-face {font-family: "SEGA LOGO FONT";
  src: url("sega-font/b593a614952261da06c53a02d1954f44.eot"); /* IE9*/
  src: url("sega-font/b593a614952261da06c53a02d1954f44.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("sega-font/b593a614952261da06c53a02d1954f44.woff2") format("woff2"), /* chrome、firefox */
  url("sega-font/b593a614952261da06c53a02d1954f44.woff") format("woff"), /* chrome、firefox */
  url("sega-font/b593a614952261da06c53a02d1954f44.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("sega-font/b593a614952261da06c53a02d1954f44.svg#SEGA LOGO FONT") format("svg"); /* iOS 4.1- */
}

h1 {
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color: #0ccac4;
}